@model ProductDto
<form asp-action="ProductCreate" enctype="multipart/form-data">
    <br />
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-primary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">Create Product</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-2">
                    <label class="control-label pt-2">Name</label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2">Category Name</label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2">Description</label>
                </div>
                <div class="col-10 pb-3">                                       
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2">ImageUrl</label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Image" class="form-control" />
                    <input asp-for="ImageUrl" hidden class="form-control" />
                    <span asp-validation-for="Image" class="text-danger" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2">Price</label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger" />
                </div>
                <div class="col-5 offset-2">

                    <a asp-action="ProductIndex" class="btn-primary btn form-control ">Back to List</a>
                </div>
                <div class="col-5">
                    <input type="submit" value="Create" class="btn btn-success form-control" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
